.App {
  text-align: center;
}

.title {
  background-color: deepskyblue;
}

.code {
  background-color: darkgrey;
}

.result {
  background-color: yellow;
  margin-bottom: 3rem;
}

.browser__type {
  background-color: aquamarine;
}

.os__type {
  background-color: coral;
}

.engine__type {
  background-color: wheat;
}
